<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		 <!-- 

		<typeAlias type="com.gestproy.beans.IntegranteDTO" alias="IntegranteDTO"/>
		<typeAlias type="com.gestproy.beans.PortafolioDTO" alias="PortafolioDTO"/>
		<typeAlias type="com.gestproy.beans.ProyectoDTO" alias="ProyectoDTO"/>
		<typeAlias type="com.gestproy.beans.ProyectoUsuarioDTO" alias="ProyectoUsuarioDTO"/>
		<typeAlias type="com.gestproy.beans.TareaDTO" alias="TareaDTO"/>
		<typeAlias type="com.gestproy.beans.TipoUsuarioDTO" alias="TipoUsuarioDTO"/>
		 -->
		 
		 <typeAlias type="com.gestproy.beans.DocumentoDTO" alias="DocumentoDTO"/>
		<typeAlias type="com.gestproy.beans.UsuarioDTO" alias="UsuarioDTO"/>
		<typeAlias type="com.gestproy.beans.TareaDTO" alias="TareaDTO"/>
	</typeAliases>

	<environments default="DEV">
		<environment id="DEV">
			<transactionManager type="JDBC" /><!-- JDBC/Manual -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost/gestproybd"/>
				<property name="username" value="root"/>
				<property name="password" value="mysql"/>
			</dataSource>
			</environment>		
	</environments>

	<mappers>
		<!-- 

		<mapper class="com.gestproy.mybatis.dao.MIntegranteMapper"/>
		<mapper class="com.gestproy.mybatis.dao.MPortafolioMapper"/>
		<mapper class="com.gestproy.mybatis.dao.MProyectoMapper"/>
		<mapper class="com.gestproy.mybatis.dao.MTareaMapper"/>
		 -->
		<mapper class="com.gestproy.mybatis.dao.UsuarioMapper"/>
		<mapper class="com.gestproy.mybatis.dao.TareaMapper"/>
		<mapper class="com.gestproy.mybatis.dao.DocumentoMapper"/>
	</mappers>

</configuration>