body.login{
	background-color: #222;
	font-size: 12px;
}

/******** LOGIN **********/
body.login .panel-heading {
    padding: 5px 15px;
}

body.login .profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
body.login .label{
    color: black;
    font-size: 1.2em;
    vertical-align: -webkit-baseline-middle;	
}

body.login .wwFormTable td{
	padding: 5px;
}
/************MANTENIMIENTO y REPORTES**************/
#page-wrapper label {
    color: black;
}
