<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gestproy.mybatis.dao.DocumentoMapper">

 
	<insert id="registrarDocumento" parameterType="DocumentoDTO" useGeneratedKeys="true" keyProperty="documentoId">
		insert into tb_documento (documentoId, proyectoId, nombre, fechaInicio)
		values (#{documentoId}, #{proyecto.proyectoId}, #{nombre}, #{fechaInicio})
		<selectKey order="AFTER" resultType="int" keyProperty="documentoId">
			select LAST_INSERT_ID();
		</selectKey>
	</insert>

	<update id="actualizarDocumento" parameterType="DocumentoDTO">
		update tb_documento set proyectoId = #{proyecto.proyectoId}, 
		 				      nombre = #{nombre}, 
		 				      fechaInicio = #{fechaInicio}
		where documentoId = #{documentoId}
	</update>

	<delete id="eliminarDocumento" parameterType="int">
		delete from tb_documento where documentoId = #{documentoId}
	</delete>

	<select id="listarDocumentos" parameterType="DocumentoDTO" resultMap="rListar">
		select documentoId,proyectoId,nombre,fechaInicio from tb_documento
	</select>

	<select id="obtenerDocumento" resultType="DocumentoDTO" parameterType="DocumentoDTO">
		select documentoId,proyectoId,nombre,fechaInicio from tb_documento
		where documentoId = #{documentoId}
	</select>

	<!-- RESULTS MAPS -->
	<resultMap id="rListar" type="DocumentoDTO" >
        <result property="documentoId"                         	column="DocumentoId" />
        <result property="proyecto.proyectoId"              	column="ProyectoId" />
       <result property="nombre"                      			column="Nombre" />
        <result property="fechaInicio"                      	column="FechaInicio" />
    </resultMap>

</mapper>