<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gestproy.mybatis.dao.DocumentoMapper">

 
	<insert id="registrarDocumento" parameterType="DocumentoDTO" statementType="CALLABLE">
		 {call sp_documento_insertar(#{documentoId,mode=OUT,jdbcType=INTEGER}, 
								  	 #{proyecto.proyectoId,mode=IN}, 
								 	 #{nombre,mode=IN}, 
								 	 #{fechaInicio,mode=IN})};
	</insert>


	<update id="actualizarDocumento" parameterType="DocumentoDTO">
		update tb_documento set proyectoId = #{proyecto.proyectoId}, 
		 				      nombre = #{nombre}, 
		 				      fechaInicio = #{fechaInicio}
		where documentoId = #{documentoId}
	</update>

	<delete id="eliminarDocumento" parameterType="String">
		delete from tb_documento where documentoId = #{documentoId}
	</delete>


	
	<select id="listarDocumentos" parameterType="DocumentoDTO" resultMap="rListar">
		select d.documentoId, p.descripcion,d.nombre,d.fechaInicio from tb_documento d
		inner join tb_proyecto p on d.proyectoId = p.proyectoId
		
	</select>
	
	
	
	<select id="obtenerDocumento" resultType="DocumentoDTO" parameterType="DocumentoDTO">
		select documentoId,proyectoId,nombre,fechaInicio from tb_documento
		where documentoId = #{documentoId}
	</select>

	<!-- RESULTS MAPS -->
	<resultMap id="rListar" type="DocumentoDTO" >
        <result property="documentoId"                         	column="DocumentoId" />
        <result property="proyecto.proyectoId"              	column="ProyectoId" />
        <result property="nombre"                      			column="Nombre" />
        <result property="fechaInicio"                      	column="FechaInicio" />
        <result property="proyecto.descripcion"               column="Descripcion" />
        
    </resultMap>

</mapper>