<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gestproy.mybatis.dao.UsuarioMapper">

	<insert id="registrarUsuario" parameterType="UsuarioDTO" useGeneratedKeys="true" keyProperty="codigo">
		insert into tb_usuario (usuarioId, usuario, clave, email, nombre, apellido, fechaNacimiento, tipoUsuario, estado)
		values (#{usuarioId}, #{usuario}, #{clave}, #{email}, #{nombre}, #{apellido}, #{fechaNacimiento}, #{tipoUsuario}, #{estado})
		<selectKey order="AFTER" resultType="int" keyProperty="usuarioId">
			select LAST_INSERT_ID();
		</selectKey>
	</insert>

	<update id="actualizarUsuario" parameterType="UsuarioDTO">
		update tb_usuario set usuario = #{usuario}, 
		 				      clave = #{clave}, 
		 				      email = #{email}, 
		 				      nombre = #{nombre}, 
		 				      apellido = #{apellido},
		 				      fechaNacimiento = #{fechaNacimiento},
		 				      tipoUsuario = #{tipoUsuario},
		 				      estado = #{estado}
		where usuarioId = #{usuarioId}
	</update>

	<delete id="eliminarUsuario" parameterType="int">
		delete from tb_usuario where usuarioId = #{UsuarioId}
	</delete>

	<select id="listarUsuarios" resultType="UsuarioDTO" parameterType="UsuarioDTO">
		select usuarioId, usuario, clave, email, nombre, apellido, fechaNacimiento, tipoUsuarioId, estado 
		from tb_usuario
	</select>

	<select id="obtenerUsuario"	resultType="UsuarioDTO" parameterType="UsuarioDTO">
		select usuarioId, usuario, clave, email, nombre, apellido, fechaNacimiento, tipoUsuario, estado 
		from tb_usuario
		where usuarioId = #{usuarioId}
	</select>

</mapper>