<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gestproy.mybatis.dao.UsuarioMapper">

	<insert id="registrarUsuario" parameterType="UsuarioDTO" statementType="CALLABLE">
		{call sp_usuario_insertar(#{usuarioId,mode=OUT,jdbcType=INTEGER}, 
								 #{usuario,mode=IN}, 
								 #{clave,mode=IN}, 
								 #{email,mode=IN}, 
								 #{nombre,mode=IN}, 
								 #{apellido,mode=IN}, 
								 #{fechaNacimiento,mode=IN}, 
								 #{tipoUsuario.tipoUsuarioId,mode=IN}, 
								 #{estado,mode=IN})};
	</insert>

	<update id="actualizarUsuario" parameterType="UsuarioDTO">
		update tb_usuario set usuario = #{usuario}, 
		 				      clave = #{clave}, 
		 				      email = #{email}, 
		 				      nombre = #{nombre}, 
		 				      apellido = #{apellido},
		 				      fechaNacimiento = #{fechaNacimiento},
		 				      tipoUsuario = #{tipoUsuario},
		 				      estado = #{estado}
		where usuarioId = #{usuarioId}
	</update>

	<delete id="eliminarUsuarios" parameterType="String">
		{ call sp_usuario_eliminar(#{codigos, jdbcType=VARCHAR})}
	</delete>

	<select id="listarUsuarios" parameterType="UsuarioDTO" resultMap="rListar" statementType="CALLABLE">
		{ call sp_usuario_listar(#{usuarioId, jdbcType=BIGINT}, 
                                 #{usuario, jdbcType=VARCHAR}, 
                                 #{clave, jdbcType=VARCHAR},
                                 #{email, jdbcType=VARCHAR}, 
                                 #{nombre, jdbcType=VARCHAR}, 
                                 #{apellido, jdbcType=VARCHAR},
                                 #{fechaNacimiento, jdbcType=VARCHAR}, 
                                 #{tipoUsuario.tipoUsuarioId, jdbcType=DATE}, 
                                 #{estado, jdbcType=VARCHAR}) }
	</select>

	<select id="obtenerUsuario" parameterType="UsuarioDTO" resultType="UsuarioDTO">
		select usuarioId, usuario, clave, email, nombre, apellido, fechaNacimiento, tipoUsuario, estado 
		from tb_usuario
		where usuarioId = #{usuarioId}
	</select>
	
	<!-- RESULTS MAPS -->
	<resultMap id="rListar" type="UsuarioDTO" >
        <result property="usuarioId"                         	column="UsuarioId" />
        <result property="usuario"                      		column="Usuario" />
        <result property="clave"                           		column="Clave" />
        <result property="email"                           		column="Email" />
        <result property="nombre"                              	column="Nombre" />
       	<result property="apellido"                          	column="Apellido" />
        <result property="fechaNacimiento"              		column="FechaNacimiento" />
        <result property="tipoUsuario.tipoUsuarioId"            column="TipoUsuarioId" />
        <result property="tipoUsuario.descripcion"              column="Descripcion" />
        <result property="estado"             					column="Estado" />
    </resultMap> 
</mapper>